@model CarSalesMiniProject.ViewModels.CarViewModel

<div>
    <h4>Car</h4>
    <hr />
    <div class="row">
        <div class="col-2">
            Engine:
        </div>
        <div class="col-2">
            @Model.Engine
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Doors:
        </div>
        <div class="col-2">
            @Model.Doors
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Wheels:
        </div>
        <div class="col-2">
            @Model.Wheels
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Body Type:
        </div>
        <div class="col-2">
            @Model.BodyType
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Is sold:
        </div>
        <div class="col-2">
            @Model.IsSold
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Date:
        </div>
        <div class="col-2">
            @Model.AddDate
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Make:
        </div>
        <div class="col-2">
            @Model.Make
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Model:
        </div>
        <div class="col-2">
            @Model.Model
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Vehicle Type:
        </div>
        <div class="col-2">
            @Model.VehicleType
        </div>
    </div>
</div>
